<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="local">
        <appender name="text" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="text"/>
        </root>
        <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="debug"/>
    </springProfile>

    <springProfile name="!local">
        <appender name="audit" class="com.papertrailapp.logback.Syslog4jAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m%n%xEx</pattern>
            </layout>

            <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
                <host>audit.nais</host>
                <port>6514</port>
                <ident>klanke-mock</ident>
                <maxMessageLength>128000</maxMessageLength>
            </syslogConfig>
        </appender>

        <logger level="INFO" name="audit" additivity="false">
            <appender-ref ref="audit"/>
        </logger>

        <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <root level="info">
            <appender-ref ref="json"/>
        </root>

        <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="debug" additivity="false">
            <appender-ref ref="json"/>
        </logger>

    </springProfile>

    <logger name="no.nav.klage" level="debug"/>

    <logger name="org.hibernate.SQL" level="debug"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="debug"/>
    <logger name="org.hibernate.SQL_SLOW" level="debug"/>
    <logger name="org.hibernate.orm.connections.pooling" level="warn"/>

</configuration>