apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: klanke-mock
  namespace: klage
  labels:
    team: klage
spec:
  image: {{ image }}
  observability:
    autoInstrumentation:
      enabled: true
      runtime: java
  gcp:
    sqlInstances:
      - name: klanke-mock
        type: {{ db_type }}
        maintenance:
          day: 1
          hour: 4
        tier: {{ db_tier }}
        diskType: SSD
        highAvailability: {{ db_ha }}
        diskSize: {{ db_size }}
        diskAutoresize: true
        autoBackupHour: 2
        cascadingDelete: false
        databases:
          - name: klanke-mock
  port: 7070
  startup:
    failureThreshold: 20
    initialDelay: 30
    path: /internal/health
    periodSeconds: 10
    timeout: 2
  liveness:
    path: /internal/health
    initialDelay: 20
    timeout: 1
    periodSeconds: 5
    failureThreshold: 10
  readiness:
    path: /internal/health
    initialDelay: 20
    timeout: 1
  resources:
    limits:
      memory: 2Gi
    requests:
      cpu: 50m
      memory: 2Gi
  ingresses:
  {{#each ingresses as |ingress|}}
    - {{ingress}}
  {{/each}}
  replicas:
    min: 1
    max: 1
    cpuThresholdPercentage: 80
  prometheus:
    enabled: true
    path: /internal/prometheus
  secureLogs:
    enabled: true
  accessPolicy:
    inbound:
      rules:
      {{#each inboundApplications as |inbound|}}
        - application: {{inbound.application}}
#        {{#if inbound.namespace}}
          namespace: {{inbound.namespace}}
#        {{/if}}
#        {{#if inbound.cluster}}
          cluster: {{inbound.cluster}}
#        {{/if}}
      {{/each}}
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: {{springProfile}}
  {{#each envs}}
    - name: {{name}}
      value: {{value}}
  {{/each}}
